 {
	padding: 0px;
	margin: 01px;
	font-family: sans-serif;
}

.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #00008B;
}



#player1 {
	background-color: #C0C0C0;
	border: 5px dashed; #000000;
	width: 50px;
	height: 20px;
	position: absolute;
	transition: all 0.3s
}
.pointer {
	background-color: ##00008B;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}

